h1 { 
  position: relative;
  left: 35%;
}

.container {
  position: relative;
  top: 40%;
  left: 50%;
  width:32em;
  height:40em;
  margin-top: -1em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
/*  border: 1px solid #ccc;*/
/*  background-color: #f3f3f3;*/
}

.containerBox {
  height: 500px;
  width: 515px;
  position: relative;
}

.box {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: red;
  margin: 10px;
  float: left;
}

.xSpot, .oSpot {
  position: absolute;
  top: 15%;
  left: 25%;
  font-size: 100px;
}

/*#overlay {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:auto;
    height:auto;
    z-index:-1;
    background-color: Black;
    opacity: .5;
}*/

.ui-dialog { 
  z-index: 1000 !important ;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}
/*body {
  background-color: white; 
}*/